* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

@font-face {
	font-family: 'Instrument Sans';
	font-display: swap;
	src: url(../assets/fonts/InstrumentSans-VariableFont_wdth\,wght.woff2) format('woff2');
}

body {

	font-family: 'Instrument Sans';
}

:root {
	--color-c1: #003A8C;
	--color-c2: #0053D6;
	--color-c3: #2EC9E8;
	--color-c4: #fff;
}

.c-bl2 {
	color: var(--color-c2);
}

.c-bl1 {
	color: var(--color-c1);
}

.c-bl3 {
	color: var(--color-c3);
}

.txt-c {
	text-align: center !important;
}

h1 {
	font-size: clamp(1.9rem, 4vw, 3.4rem);
}

small {
	color: var(--color-c4);
}

p {
	font-size: clamp(11px, 4vw, 18px);
}

.border {
	border: solid 1px red;
}

.container__header {
	max-width: min(1200px, 85vw);
}

.container__section {
	margin: 0 auto;
	max-width: min(1240px, 90vw);
}

.container__section__hero {
	margin: 0 auto;
	max-width: min(1500px, 90vw);
}

#hero {
	background: var(--color-c2);
	height: 80vh;
}

#hero .container__section__hero .box_info,
#hero .container__section__hero .box_img {
	flex: 1;
}

.cta__box {
	margin-top: 30px;
	display: flex;
	gap: 20px;
}

button {
	font-size: medium;
	cursor: pointer;
	padding: 22px 25px;
	border-radius: 4px;
	transition: all;
}

#cta1 {
	font-weight: bold;
	text-transform: uppercase;
	width: 50%;
	border: solid 1px var(--color-c4);
	background: var(--color-c4);
	color: var(--color-c1);
}

#cta2 {
	font-weight: bold;
	text-transform: uppercase;
	width: 50%;
	background: none;
	border: solid 1px var(--color-c4);
	color: var(--color-c4);
}

#cta1:hover,
#cta2:hover {
	transition: .2s;
	background: var(--color-c3);
	color: var(--color-c4);
	border: solid 1px var(--color-c2);
}

#hero .box_info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

#hero .box_info p,
#hero .box_info h1 {
	color: var(--color-c4);
}

#hero .container__section__hero {
	height: 100%;
	display: flex;
	gap: 10px;
}

header {
	margin: 0 auto;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 100px;
	transition: box-shadow 0.3s ease;
	z-index: 999;
}


header.scrolled {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}


.logo img {
	width: 200px;
}


nav {
	display: flex;
	gap: 30px;
}


nav a {
	text-decoration: none;
	color: #333;
	font-weight: 500;
	font-size: 1rem;
}


/* Mobile */
.hamburger {
	display: none;
	flex-direction: column;
	gap: 4px;
	cursor: pointer;
}

.hamburger span {
	width: 25px;
	height: 3px;
	background: #333;
}

#spin {
	color: var(--color-c4);
	padding: 20px 0 20px;
	text-align: center;
	background: var(--color-c1);
}

.fake-bullet {
	display: flex;
	align-items: center;
	justify-content: center;
}

.fake-bullet img {
	filter: brightness(0) invert(1);
	width: 120px;
}


.text-slider {
	overflow: hidden;
	background: var(--color-c1);
	padding: 1rem 0;
}

.text-slider__inner {
	gap: 100px;
	display: flex;
	width: max-content;
	animation: scroll 40s linear infinite;
}

.text-slider__inner span {
	flex: none;
	padding: 0 2rem;
	white-space: nowrap;
}

#plan-container {
	margin: 0 auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card small {
	font-weight: bold;
	font-size: 11px;
}

.cards-container li {
	list-style: none;
}

.cards-container {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
	justify-content: center;
	margin-top: 50px;
}

.box__card {
	transition: all;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.card h1 {
	font-size: 38px;
}

#plan .container__section {
	max-width: min(1500px, 100vw);
	padding-top: 50px;
}

.card {
	color: var(--color-c4);
	z-index: 1;
	position: relative;
	width: 370px;
	height: 320px;
	background: var(--color-c2);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 4px 50px 0 0;
	text-align: left;
	padding: 0 20px;
	border: var(--color-c2) solid 2px;
	transition: .4s ease;
	border-bottom: none;
}

.card__bottom {
	position: relative;
	width: 370px;
	height: auto;
	background: transparent;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 0 0 4px 30px;
	text-align: left;
	border: var(--color-c1) solid 2px;
	border-top: none;
	transition: box-shadow 0.4s ease;
}

.card__bottom ul {
	padding: 0 20px;
	overflow: hidden;
	max-height: 120px;
	transition: max-height 0.8s ease;
}

.card__bottom ul.show-all {
	max-height: 1000px;
}

.card__bottom ul li {
	display: flex;
}

.show-more {
	width: 100%;
	padding: 10px 20px;
	border-radius: 0 0 12px 12px;
	background: var(--color-default);
	margin-top: 15px;
	color: var(--bg);
	cursor: pointer;
	font-weight: bold;
	display: inline-block;
	transition: all;
}

.show-more:hover {
	transition: .2s;
	color: var(--color-c1);
}

.check-circle {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: var(--color-c2);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	margin-right: 10px;
}

.check-circle::before {
	content: "✔";
}

.card__bottom li {
	margin-top: 20px;
	font-size: small;
	display: flex;
}

.card-button {
	width: 100%;
	cursor: pointer;
	padding: 16px 35px;
	border-radius: 4px;
	border: var(--color-c3) solid 1px;
	background: var(--color-c3);
	color: var(--txt-color);
	font-size: var(--txt-size);
	transition: all;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: bold;
}

.card-button:hover {
	border: var(--color-c4) solid 1px;
	transition: .3s;
	background: var(--color-c1);
	color: var(--color-default);
}

.card__title h2 span {
	font-size: 16px;
}

.card__title h2 {
	margin-top: 20px;
	font-size: 40px;
}

section.faq {
	width: 80%;
	margin: auto;
	padding: 50px 1rem;
}

section.faq h2 {
	font-size: clamp(1.7rem, 5vw, 2.5rem);
	text-align: center;
	margin-bottom: 2rem;
}

#faq h1 {
	margin-bottom: 50px;
}

.faq-item h3 {
	color: var(--color-c1);
}

.faq-item {
	border-bottom: 1px solid #003a8c7c;
	overflow: hidden;
}

.faq-question {
	cursor: pointer;
	padding: 1.5rem;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.faq-answer {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.4s ease, padding 0.3s ease;
	padding: 0 1rem;
}

.faq-item.active .faq-answer {
	max-height: 300px;
	width: 90%;
	padding: 1rem;
}

/* Ícone + que vira X */

.faq-icon {
	margin-bottom: 60px;
	color: var(--color-c1);
	font-size: 1.5rem;
	font-weight: 100;
	transition: transform 0.3s ease;
}

.faq-item.active .faq-icon {
	transform: rotate(45deg);
}

@media (max-width: 600px) {

	section.faq {
		width: 100%;
	}

	.faq-question {
		padding: 1rem 0 0;
		font-weight: bold;
	}

	.faq-question {
		font-size: 1rem;
	}
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-50%);
	}
}


@media(max-width: 1200px) {
	.container__section {
		margin: 0 auto;
		max-width: 90%;
		flex-direction: column;
	}

	.container__section__hero {
		padding: 100px 0 100px;
		margin: 0 auto;
		max-width: 90%;
		flex-direction: column;
	}

	#hero .box_img {
		display: none;
	}

	#hero {
		height: auto;
	}

	.cta__box {
		flex-direction: column;
	}

	#cta1,
	#cta2 {
		width: 100% !important;
		font-size: small;
	}
}

@media (max-width: 768px) {
	header img {
		width: 150px !important;
	}

	.card__bottom,
	.card{
		width: 100%;
	}
	.card h1{
		font-size: 30px;
	}
	.card{
		height: 340px;
	}

	.text-slider__inner {
		gap: 10px;
	}

	.fake-bullet img {
		width: 60px;
	}

	header {
		padding: 15px 25px;
	}

	nav {
		position: fixed;
		top: 70px;
		right: -100%;
		width: 70%;
		height: 100vh;
		background: #fff;
		flex-direction: column;
		padding: 40px;
		gap: 20px;
		transition: right 0.3s ease;
	}

	nav.open {
		right: 0;
	}

	.hamburger {
		display: flex;
	}
}